.secciones{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    gap: 3rem;
}


@media screen and (max-width: 700px) {
    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.logo{
    margin-left: 2rem;
    width: 150px;
    height: 80px;
}